html 
{
    text-align: center;
}

#img
{
   width: 200;
   height: 200;
}

body 
{
   background-color: cornflowerblue;
}

#age1
{
    background-color: white;
}

#age2
{
    background-color: white;
}

#age3
{
    background-color: white;
}

#age4
{
    background-color: white;
}